<h1 id="logo"><img src="./app/images/logo.png" alt="カスタム絵文字つくる君"></h1>

<ce-emoji
  ce-character="ceApp.character"
  ce-color-set="ceApp.colorSet"
  ce-magnification="ceApp.magnification"
  ce-position="ceApp.position"
></ce-emoji>

<form>
  <div><input type="text" id="character" ng-model="ceApp.character" ng-change="ceApp.onChangeCharacter(ceApp.character)"></div>
  <div class="input-flex">
    <div class="label-input"><label for="spacing">Spacing</label><input type="number" id="spacing" ng-model="ceApp.manual.spacing" ng-change="ceApp.onChangeManualPosition()"></div>
    <div class="label-input"><label for="left">Left</label><input type="number" id="left" ng-model="ceApp.manual.left" ng-change="ceApp.onChangeManualPosition()"></div>
    <div class="label-input"><label for="top">Top</label><input type="number" id="top" ng-model="ceApp.manual.top" ng-change="ceApp.onChangeManualPosition()"></div>
  </div>
  <div class="color-wrap">
    <div class="label-input"><label for="color">Color</label><input type="text" id="color" ng-model="ceApp.color" ng-change="ceApp.onChangeColor(ceApp.color)"></div>
  </div>
</form>

<ul id="palette">
  <li ng-repeat="color in ceApp.palette" ng-attr-style="{{'color: #' + color}}"><a ng-click="ceApp.onChangeColor(color)">■</a></li>
</ul>

<div class="download">
  <a ng-click="ceApp.saveAsPng()">PNGを出力</a>
  <input type="text" ng-value="ceApp.generatePermanent()">
</div>

<div class="tweet">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://armorik83.github.io/custom-emoji-tsukurukun/" data-text="『カスタム絵文字つくる君』で絵文字を作りました。" data-hashtags="emoji_tsukurukun">Tweet</a>
</div>

<p id="guide">
  お好みの文字や記号を入力し位置を微調整したのち<br>
  『PNGを出力』を選択することで、画像が表示されます。<br>
  Slackで絵文字として使用できるために128pxまで縮小して出力します。<br>
  Chrome, Firefox最新版以外での動作は検証していません。<br>
  <small>Spacing機能はFirefoxに不具合があるため、Chromeのみ対応しています（今後修正予定）。</small>
</p>

<footer>
  <p>&copy; 2015 <a href="https://twitter.com/armorik83">armorik83</a></p>
</footer>
